<div>
  <img path="/static/media/logo.6150dd00.png" class="headerLogo" src="/static/media/logo.6150dd00.png">
</div>
<div class="LoggedInLayout_HeaderNavi__1XbGd">
  <button class="k-button k-flat ActionIcon_ActionIcon__1QN0U actionicon" role="checkbox" aria-checked="false">
    <span class="Icon_Icon__3upEf icon-Notifications medium icon"></span>
  </button>
  <button class="k-button k-flat ActionIcon_ActionIcon__1QN0U actionicon" role="checkbox" aria-checked="false">
    <span class="Icon_Icon__3upEf icon-Check medium icon"></span>
  </button>
  <div class="LoggedInLayout_User__3FcBI">
    <div class="Avatar_Avatar__2-HDY small avatar">
      <span class="Icon_Icon__3upEf icon-person medium icon"></span>
    </div>
    <div class="LoggedInLayout_Name__2k2V2">清水 宏樹</div>
  </div>
  <div class="LoggedInLayout_LogoutWeb__2v2PX">
    <button class="k-button k-outline Button_Shared__9S0Eh primary small button" type="button">ログアウト</button>
  </div>
  <div class="LoggedInLayout_LogoutMb__RzJJh">
    <span>
      <span class="Icon_Icon__3upEf icon-log_out medium icon"></span>
    </span>
  </div>
</div>