<div class="NavMenu">
  <div>
    <div class="bm-overlay" style="position: fixed; z-index: 1000; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); opacity: 1; transition: opacity 0.3s ease 0s;">
    </div>
    <div id="" class="bm-menu-wrap" style="position: fixed; right: inherit; z-index: 1100; width: 300px; height: 100%; transition: all 0.5s ease 0s;">
      <div class="bm-menu" style="height: 100%; box-sizing: border-box; overflow: auto;"><nav class="bm-item-list" style="height: 100%;">
        <div>
          <div class="Dropdown_DropDown__A41Tv">
            <div class="Dropdown_TextFieldDiv__KM8v_ Dropdown_placeholderEmpty__3gXMm">
              <div class="TextField_TextField__1kXWV field">
                <input name="myteam" id="5383705b-1216-47d4-a594-78a09b106bdd" class="k-textbox" value="なや">
              </div>
            </div>
            <select>
              <option value="92519" class="Dropdown_Option__G8-Dy">ネイキッド</option>
              <option value="97683" class="Dropdown_Option__G8-Dy">なや</option>
            </select>
            <span class="highlight"></span>
            <span class="selectbar"></span>
          </div>
        </div>
        <div class="Navigation_Navigation__3rWmn vertical">
          <ul>
            <li class="active">
              <span class="Icon_Icon__3upEf icon-Home medium icon"></span>
              <span class="NavText">ホーム</span>
            </li>
            <li class="">
              <span class="Icon_Icon__3upEf icon-Pencil medium icon"></span>
              <span class="NavText">投稿</span>
            </li>
            <li class="">
              <span class="Icon_Icon__3upEf icon-Calendar medium icon"></span>
              <span class="NavText">スケジュール</span></li><li class=""><span class="Icon_Icon__3upEf icon-Stats medium icon"></span><span class="NavText">スタッツ</span>
            </li>
            <li class="">
              <span class="Icon_Icon__3upEf icon-Member medium icon"></span>
              <span class="NavText">メンバー</span>
            </li>
            <li class=""><span class="Icon_Icon__3upEf icon-Setting medium icon"></span>
              <span class="NavText">設定</span>
            </li>
          </ul>
        </div>
        <hr>
        <div class="Navigation_Navigation__3rWmn vertical">
          <ul>
            <li class="">
              <span class="Icon_Icon__3upEf icon-TeamAdd medium icon"></span>
              <span class="NavText">チーム新規作成</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>  